.entry-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url("../../assets/bgImage/bg13.png"); */
}

.form-box {
    box-shadow: 0px 0px 20px black;
}