.default-layout {
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    /* background: url("./assets/bgImage/b3.jpg"); */
    background: #002E6E;
}

main {
    grid-area: main;
    min-height: 88vh;
    background: #EFEFEF;
    /* background: url("./assets/bgImage/bg10.png"); */
}

footer {
    grid-area: footer;
    /* background: url("./assets/bgImage/b3.jpg"); */
    background: #002E6E;
    padding: 1rem;
    color: white;
}